<form
  autocomplete="off"
  [formGroup]="form"
  (ngSubmit)="login()"
  class="login-container"
>
  <h1 class="title">Inicia sesión</h1>

  <div class="input">
    <label id="label-email" for="email">Correo electrónico</label>
    <input
      type="email"
      id="email"
      pInputText
      formControlName="email"
      placeholder="Correo electrónico"
      aria-labelledby="label-email"
      aria-errormessage="error-email"
    />
    <div *ngIf="form.dirty || form.touched" id="error-email">
      <small
        class="error-label"
        *ngIf="form.controls['email'].hasError('required')"
      >
        Este campo es obligatorio.
      </small>
      <small
        class="error-label"
        *ngIf="form.controls['email'].hasError('email')"
      >
        Formato incorrecto.
      </small>
    </div>
  </div>

  <div class="input">
    <label id="label-password" for="email">Contraseña</label>
    <input
      type="password"
      id="password"
      pInputText
      formControlName="password"
      placeholder="Ingrese su contraseña"
      aria-labelledby="label-password"
      aria-errormessage="error-password"
    />
    <div *ngIf="form.dirty || form.touched" id="error-password">
      <small
        class="error-label"
        *ngIf="form.controls['password'].hasError('required')"
      >
        Este campo es obligatorio.
      </small>
      <small
        class="error-label"
        *ngIf="form.controls['password'].hasError('minlength')"
      >
        Mínimo 6 caracteres.
      </small>
    </div>
  </div>

  <p-messages [(value)]="messages" [enableService]="false" />

  <div class="container-btn">
    <p-button label="Ingresar" type="submit" [disabled]="form.invalid" />
  </div>
</form>
