<div class="card">
  <p-table 
      [value]="data" 
      styleClass="p-datatable-striped" 
      [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="header">
              <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Categoria</th>
                  <th>Cantidad</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
              <tr>
                  <td>{{data.code}}</td>
                  <td>{{data.name}}</td>
                  <td>{{data.category}}</td>
                  <td>{{data.quantity}}</td>
              </tr>
          </ng-template>
  </p-table>
</div>